<a href="https://colab.research.google.com/github/rishikadeshmukh/DS2002F24/blob/main/csvandpandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd

df = pd.read_csv('/content/acc_players-2324F.csv', header = 1)
print(df.head())

   Rk         Player Class Pos          School   G   MP  TRB  AST  STL  ...  \
0   1   Amaree Abram    SO   G    Georgia Tech  10  108   17   11    1  ...
1   2   Sola Adebisi    FR   F   Florida State   7    9    1    1    0  ...
2   3  Prince Aligbe    SO   F  Boston College  35  651  119   21   15  ...
3   4     Abe Atiyeh    SR   G  Boston College   4    6    0    0    0  ...
4   5    Zack Austin    JR   F      Pittsburgh  33  746  137   29   32  ...

   TOV  PF  PTS    FG%    2P%    3P%    FT%   PER   WS  BPM
0    9  10   34  0.262  0.318  0.200  0.615   4.1 -0.1 -6.4
1    1   1    2  0.500  0.500    NaN    NaN   3.5  0.0 -6.7
2   30  51  164  0.435  0.522  0.147  0.620   9.4  0.9 -1.3
3    1   0    3  0.333  0.000  1.000    NaN   1.1  0.0 -8.2
4   13  35  216  0.417  0.563  0.295  0.737  18.0  2.9  7.9

[5 rows x 21 columns]

In [7]:
total_points = df['PTS'].sum()
print(f"Total points scored by all players combined: {total_points}")

Total points scored by all players combined: 38411

In [9]:
most_minutes= df.loc[df['MP'].idxmax()]['Player']
print(most_minutes)

Casey Morsell

In [19]:
rebounders = df[['Player', 'TRB']].sort_values(by='TRB', ascending=False).head(5)
print(rebounders)

              Player  TRB
5      Armando Bacot  380
178  Ian Schieffelin  340
90   Harrison Ingram  327
44    Mohamed Diarra  311
149    Norchad Omier  309

In [13]:
playerfiltering_df = df[df['MP'] > 500]

In [18]:
most_assists = playerfiltering_df.loc[playerfiltering_df['AST'].idxmax()]['Player']
print(most_assists)

Reece Beekman

In [20]:
top_3_assist_leads = playerfiltering_df[['Player', 'AST']].sort_values(by='AST', ascending=False).head(3)
print(top_3_assist_leads)

             Player  AST
7     Reece Beekman  212
215  Jaeden Zackery  152
21    Elliot Cadeau  150

In [21]:
top_3_shotblockers = playerfiltering_df[['Player', 'BLK']].sort_values(by='BLK', ascending=False).head(3)
print(top_3_shotblockers)

            Player  BLK
51       Ryan Dunn   77
157   Quinten Post   61
5    Armando Bacot   56

In [24]:
points = df.groupby('School')['PTS'].sum().reset_index()
assists = df.groupby('School')['AST'].sum().reset_index()
sorted_schools = points.sort_values(by='PTS', ascending=False)
top_3= sorted_schools.head(3)

print("Total points scored by each school:")
print(points)

print("\nTotal assists by each school:")
print(assists)

print("\nTop 3 schools by total points scored:")
print(top_3)

Total points scored by each school:
            School   PTS
0   Boston College  2667
1          Clemson  2785
2             Duke  2830
3    Florida State  2526
4     Georgia Tech  2272
5       Louisville  2304
6       Miami (FL)  2424
7         NC State  3101
8   North Carolina  3032
9       Notre Dame  2113
10      Pittsburgh  2495
11        Syracuse  2442
12        Virginia  2140
13   Virginia Tech  2547
14     Wake Forest  2733

Total assists by each school:
            School  AST
0   Boston College  509
1          Clemson  533
2             Duke  551
3    Florida State  406
4     Georgia Tech  425
5       Louisville  356
6       Miami (FL)  454
7         NC State  536
8   North Carolina  536
9       Notre Dame  335
10      Pittsburgh  452
11        Syracuse  442
12        Virginia  509
13   Virginia Tech  514
14     Wake Forest  429

Top 3 schools by total points scored:
           School   PTS
7        NC State  3101
8  North Carolina  3032
2            Duke  2830

**What did you learn about working with CSV files and pandas DataFrames in
this assignment?**

I learned how to load data from a CSV file into a pandas DataFrame using pd.read_csv(). This is a fundamental skill for any data analysis task, as CSV files are a common format for storing and sharing data. This skill is highly transferable to future projects where I might deal with large datasets in CSV or similar formats. Understanding how to efficiently load and inspect the data helps with the analysis.  I worked with the groupby() function to aggregate data by school and calculate total points and assists. This taught me how to group data by a categorical variable and compute summary statistics. Grouping and aggregation are powerful techniques in data analysis. They can be applied in various contexts, such as analyzing customer behavior for a business.

**What was the most challenging aspect of this assignment, and how did you
overcome it?**

Initially, understanding how the data was structured and how each column related to player performance metrics was challenging. The abbreviations like MP, TRB, and PTS needed to be fully understood in terms of their relevance to basketball statistics. I took time to explore the dataset by using methods like df.head() and df.info() to inspect the column names and data types. I also researched basketball statistics to ensure I understood what each abbreviation meant and how to interpret them. While sorting data by points and filtering for specific criteria. Performing the aggregation for each school and calculating metrics such as total points and assists by grouping the data was challenging. I initially struggled with ensuring that the grouped results matched the expected output. I consulted pandas documentation and reviewed tutorials on how to use groupby() effectively.

**How do you think the insights gained from analyzing ACC basketball statistics
could be applied to other real-world datasets?**

In the business world, analyzing employee performance metrics, sales data, or customer behavior is similar to basketball player performance analysis. For instance, instead of points and assists, a company might look at metrics like revenue generated or employee productivity. In manufacturing, companies can use data analysis to optimize production processes by analyzing metrics like machine downtime, production output, and defect rates. Similar to tracking player performance over time, manufacturing companies can track equipment performance and efficiency. The ability to clean, filter, and manipulate data is a fundamental skill in any data science project. This experience reinforces the importance of having clean, well-structured data to ensure accurate analysis. This project emphasized the importance of data-driven decision-making. By learning to extract meaningful insights from large datasets, Iâ€™m better prepared to tackle future challenges where objective analysis of data will guide critical business or research decisions.